.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.calculator {
  width: 40rem;
  height: 28.25rem;
  position: absolute;
  top: 10px;
  border-radius: 1%;
}

.calculator h1{
  padding: 1.5%;
  background-color: grey;
}

@media (max-width: 700px){
  .calculator {
    width: 30rem;
  } 
}

.calculatorScreen{
  background-color: black;
  min-width: 80%;
  min-height: 20%;
}

.calculatorKeypad{
  background-color: black;
  min-width: 80%;
  min-height: 70%;
  display: flex!important;
  flex-wrap: wrap;
}

.calcBtn{
  flex: 1 0 25%; /* explanation below */  
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4.5rem;
  border-radius: 1%;
}

.iconContainer a{
  font-size:1.3rem!important;
  padding: 0%;
  width: 1rem !important;
  height: 1rem!important;
}