.lightBackground {
  background-color: #ffffff;;
}

.blueBackground {
  background-color: #0779E4;
}

.darkBackground {
  background-color: #181D31;
}

.lightIcon{
  color: #ffffff;;
}

.darkIcon{
  color: #181D31;
}

.darkButton {
  background-color: #181D31;
  border: none;
}

.lightButton {
  background-color: #ffffff;
  border: none;
}

.lighterButton{
  background-color: #FFFAE7;
}

.lightText{
  color: #ffffff;;
}

.darkText{
  color: #181D31;
}