* {
  padding: 0;
  margin: 0;
  text-align: center;
}


a {
  color: inherit;
  text-decoration: none;
}

button, span, svg{
  cursor: pointer;
}

svg{
  font-size: 2.5rem;
}

svg:hover {
  transform: scale(1.25);
 }
