* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

html,
body {
  overflow-x: hidden;
  background-color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}
