.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100vw;
}

.calculator {
  width: 42.5%;
  height: 100%;
}

.calculatorScreen{
  height: 37.5%;
  background-color: #181D31;
}

.calculatorScreen .miniScreen span{
  position: relative;
  top: 3.25rem;
  font-size: 2rem;
}

.calculatorScreen .mainScreen span{
  position: relative;
  top: 5rem;
  font-size: 5.25rem;
}

.calculatorKeypad{
  height: 62.5%;
  display: flex!important;
  flex-wrap: wrap;
}

.calcBtn{
  flex: 1 0 24%; 
  background-color: #FFFAE7;
  color: #181D31;
  font-size: 3.25rem;
  border: #181D31 1px solid;
}

.calculatorKeypad button:nth-child(-n+3){
  background-color: #0779E4!important;
  color: #FFFAE7;
}

.calculatorKeypad button:nth-child(4n){
  background-color: #9951FF!important;
  color: #FFFAE7;
}

.calculatorKeypad button:nth-child(20){
  background-color: #C21010!important;
  color: #FFFAE7;
}

/* onclick & hover */

.calculatorScreen .mainScreen span:hover{
  color: rgba(255, 255, 255, 0.631);
}

.calculatorKeypad button:nth-child(-n+3):active,
.calculatorKeypad button:nth-child(4n):active,
.calculatorKeypad button:nth-child(20):active{
  border: #FFFAE7 3px solid;
  box-shadow: 0 0 10px rgba(255, 250, 231, 0.5);
}

.calcBtn:active{
  border: black 1px solid;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.sideMenuButton{
  position: relative;
  background-color: #181D31;
  right: 47%;
  top: 0.2rem;
  border: none;
}

.sideMenuButtonIcon{
  color: #FFFAE7!important;
  font-size: 2rem;
}

/* Responsive */

@media (max-width: 996px){
  .calculator{
    width: 70%;
  }
}

@media (max-width: 576px){
  .calculator{
    width: 100%;
  }
}

