.modalHeader{
  height: 10%;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody{
    border-width: 1px 0;
    height: 79.75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem 6rem 0.5rem 6rem;
}

.modalBody .card{
  overflow-y: auto;
  font-size: 1.75rem;
  background-color: aliceblue;
  box-shadow: 0 0 0.5rem 0.25rem gray;
  margin: 0 auto;
  width: 100%;
}

.modalBody .card ul{
  width: 85%;
  min-width: 33%;
  padding: 2.5% 7.5%;
}

.modalBody .card .cardItem{
  text-align: left;
  overflow-y: none;
  padding: 0% 0% 0.5% 3%;
}

.modalFooter{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.closeModalButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.75rem;
    background-color: transparent;
    border: none;
    border-radius: 0.75rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .closeModalButton:hover{
    color: #181D31;
  }

  .modalFooter .modalFooterIcon{
    font-size: 2rem;
    padding: 0.25rem;
  }

  .modalFooter .modalFooterIcon:hover{
    color: #181D31;
  }

  /* Responsive */

  @media (max-width: 768px){
    .modalBody {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: 575px){
    .modalBody {
      padding: 0 0.25rem;
    }
  }

  @media (max-width: 768px){
    .modalBody p, .modalBody h3, .modalBody h4, .modalBody li {
      scale: 0.9;
    }
  }

  @media (max-width: 575px){
    .modalBody p, .modalBody h3, .modalBody h4, .modalBody li {
      scale: 0.85;
    }
  }