.popupMenuButton {
    position: absolute;
    top: 0;
    margin-top: 0.5rem;
}

.sideMenuButton {
    left: 0;
    margin-left: 0.5rem;
}

.sideMenuContainer {
    position: absolute;
    top: 0.5rem;
    left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}